* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #285A48;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #B0E4CC;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 50px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.content-wrapper label {
    color: #B0E4CC;
    font-size: 30px;
    font-weight: 600;
}

.content-wrapper input {
    font-size: 20px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 0 3px;
}

.content-wrapper .btn-con {
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    background: #B0E4CC;
    color: #285A48;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.content-wrapper .btn-con:hover {
    transition: .6s;
    background-color: #408A71;
    color: #B0E4CC;
}





